
  #contact{
    margin: 40px;
    padding: 150px;
   
  }

  .container-fluid a{
   padding: 20px;
  }

  
.footer{
  
  background-color: lightgray;
  color: black;
  position: absolute !important;
  bottom: 0 !important;
 }
 .footer a{
  color: darkblue;
}