.mybox img{
    height: 300px;
    padding: 2px;
    
}
.col-sm{
    padding: 2px;

}
.raw .col-6{
    padding: 19px;

}

.contact{
    position: absolute;
    margin-top: 50px;
    margin-left: 600px;
}

.footer{
    position: absolute;
    margin-left: 600px;
    margin-top: 300px;
  
}
.tex{
    position: absolute;
    margin-left: 500px;
    margin-top: 90px;
  
}