html body{
    height: fit-content;
}
.col-sm{
    padding: 4px;
  

}


.contact{
    position: absolute;
    margin-top: 50px;
    margin-left: 600px;
}
.tex{
    position: absolute;
    margin-left: 500px;
    margin-top: 90px;
  
}

.container-fluid{
    margin: 30px;
}
